.bg-col{
    background-color: #fce8ec92;
}
h1{
    text-align: center;
}

button {
  width: 90px;
  height: 50px;

  }
  #screen{
      width:23rem;
      height: 50px;
      border-radius: 10px;
      border: 5px solid #244624;
      font-size:34px;
      background-color:aliceblue;
    }


    /* -------------------------UPDATE------------------------------- */
    .calc_top{
  
        text-align: center;
    }
    
  .calculator{
      /* margin: auto; */
      /* width: 30%; */
      margin-left: auto;
      margin-right: auto;
      
    }
    